body
{
    background-image: url(../img/udem.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

nav
{
    background-color: rgba(127, 255, 212, 0.089);
    padding: 18px;
    text-align: right;
}

a
{
   background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   padding: 12px;
   text-decoration: none;
   margin: 2px;
   font-size: none;
   border-radius: 10px;

}

a:hover
{
    background-color: rgba(240, 255, 240, 0.192);
}