*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(../img/udem.jpeg);
    background-repeat: no-repeat;
    display: cover;
    margin: 0%;
    background-attachment: fixed;
}

nav
{
    background-color: rgba(127, 255, 212, 0.089);
    padding: 18px;
    text-align: right;
}

a
{
   background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   padding: 12px;
   text-decoration: none;
   margin: 2px;
   font-size: none;
   border-radius: 10px;

}

a:hover
{
    background-color: rgba(240, 255, 240, 0.192);
}
footer
{
    text-align: center;
    background-color: rgba(15, 187, 9, 0.26);
    padding: 3px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer .social
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 4px 0;
}
footer .social a
{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
footer .social a:hover
{
    transform: translateY(-6px);
}
table
{
padding: 10px; 
margin: auto;
margin-top: 0%;
position:sticky;
}
th
{
    border: 10px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 20px;
    font-size: xx-large;
   color: rgb(189, 10, 10);
}
td
{
color: rgba(194, 7, 119, 0.886);  
border-radius: 10px;
border: solid;
font-size: x-large;
border-color: rgb(25, 134, 174);
background-color: beige;
}

.sec-1 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}
@media (max-width: 500px)
{
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(../img/udem.jpeg);
    background-repeat: no-repeat;
    display: cover;
    margin: 0%;
    background-attachment: fixed;
}

nav
{
    background-color: rgba(127, 255, 212, 0.089);
    padding: 18px;
    text-align: center;
}

a
{
   background-color: rgb(79, 5, 114);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(238, 234, 234);
   padding: 12px;
   text-decoration: none;
   margin: 2px;
   font-size: none;
   border-radius: 10px;
   display: contents;

}

a:hover
{
    background-color: rgba(240, 255, 240, 0.192);
}
footer
{
    text-align: center;
    background-color: rgba(15, 187, 9, 0.26);
    padding: 3px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer .social
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 4px 0;
}
footer .social a
{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
footer .social a:hover
{
    transform: translateY(-6px);
}
table
{
padding: 10px; 
margin: auto;
margin-top: 0%;
position:sticky;
}
th
{
    border: 10px;
    text-align: center;
    background-color: #2eb90b;
    border-radius: 20px;
    font-size: xx-large;
   color: rgb(189, 10, 10);
}
td
{
color: rgba(10, 10, 10, 0.886);  
border-radius: 10px;
border: solid;
font-size: x-large;
border-color: rgb(174, 25, 162);
background-color: beige;
}

.sec-1 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}   
}